<%= form_with(model: smartpage, local: true) do |form| %>
  <% if smartpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smartpage.errors.count, "error") %> prohibited this smartpage from being saved:</h2>

      <ul>
        <% smartpage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
