<p id="notice"><%= notice %></p>

<h1>Smartpages</h1>

<% if @smartpages.count == 0 %>
  <p>You haven't created any Smartpages yet!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Path</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @smartpages.each do |smartpage| %>
        <tr>
          <td><%= smartpage.path %></td>
          <td><%= link_to 'Show', smartpage %></td>
          <td><%= link_to 'Edit', edit_smartpage_path(smartpage) %></td>
          <td><%= link_to 'Destroy', smartpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Smartpage', new_smartpage_path %>
