<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @smartpage.shop_id %>
</p>

<p>
  <strong>Path:</strong>
  <%= @smartpage.path %>
</p>

<%= link_to 'Edit', edit_smartpage_path(@smartpage) %> |
<%= link_to 'Back', smartpages_path %>
